// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-font: 'Didact Gothic', sans-serif;
$dustypink: #ffe2ed;
$black: #232323;
$gray: #cecece;
$darkgray: #6d6d6d;
$green: rgb(197, 255, 242);
// layout styles

html, body {
  margin: 0;
  height: 100%;
}


.contentcontainer {
  background-color: white;
  position: relative;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 900px;
}

body {
  font-family: $primary-font;
  color: $black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.blog {
  font-size: 50px;
  text-transform: uppercase;
  display: inline;
  position: absolute;
}

.empty {
  width: 150px;
  display: inline-block;
}

.cactus {
  width: 100%;

}


 button:focus, textarea:focus {
    outline: none;

}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input:focus {
  outline: none;
  border-bottom: 1px solid $black;
}

input {
  font-family: $primary-font;
  font-size: 20px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid $gray;
  width: 370px;
}

textarea {
  font-family: $primary-font;
  font-size: 20px;
  margin: 10px;
  resize: none;
}



input[type="submit"] {
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  width: 120px;
  background-color: $black;
  color: white;

}

input[type="submit"]:hover {
  background-color: $dustypink;
  color: black;
}

label {
  font-size: 20px;
  text-transform: uppercase;
}

a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.fixnav {
  background-color: rgba(255, 255, 255, 0.8);
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  z-index: 10;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.startnav {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  top: 300px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  z-index: 5;
}


.navbutt {
  color: $black;
  padding: 10px;
}

.navbutt:hover {
  color: $dustypink;
}

.headspace {
  height: 50px;
  width: 100%;
}

.flashnotice {
  text-align: center;
  font-size: 20px;
}

.flashalert {
  text-align: center;
  font-size: 20px;
}

.linkbutt {
  text-align: center;
  font-size: 15px;
  margin: 15px;
  padding: 10px;
  background-color: $dustypink;
  width: 120px;
  color: black;
  display: inline-block;
}

.linkbutt:hover {
  background-color: $black;
  color: white;

}

hr {
  margin: 20px;
  background-color: $gray;
}

footer {
  background-color: $dustypink;
  width: 100%;
  height: 50px;
  left: 0px;
  bottom: 0px;
}

// homepage styles

.linktoprofile {
  font-size: 20px;
  color: $black;

}

.linktoprofile:hover {
  color: $dustypink;
}
