// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dustypink: #ffe2ed;
$gray: #cecece;
$black: #232323;

// edit account
.signupform {
  text-align: center;
}

.editaccountform {
  text-align: center;
}

.center {
  text-align: center;
}

.delete {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  background-color: $dustypink;
  width: 200px;
  color: black;
}

.delete:hover {
  background-color: $black;
  color: white;
}

// profile show.erb
.posttitle {
  font-size: 30px;
}

.postcontent {
  font-size: 20px;

}

.commentcontent {
  font-size: 20px;
}

.commentname {
  font-size: 20px;
  color: $gray;
}

.comment {
  font-size: 20px;
}
